.container {
    width: 400px;
    height: 485px;
    padding: 5px;
}

.button {
    width: 100%;
    margin-bottom: 24px;
    padding: 10px 0;
    background-color: rgb(76, 214, 120);
    border-radius: 8px;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    font-size: 1.1em;
}

.line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
}
