.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.sectionTitle {
    margin-top: 16px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.generalNutrients {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.nutrientLabel {
    font-size: 16px;
    font-weight: bold;
}

.nutrientLine {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nutrientName {
    width: 50%;
    font-size: 16px;
    font-weight: bold;
}

.nutrientValues {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
}

.ingredientSection {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 8px;
}

.ingredientName {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.ingredientNutrients {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    padding: 0 60px;
}

.row {
}

.subrowTitle {
}

.subrow {
}

.switch {
    display: flex;
    padding: 10px 0;
}

.switchTab {
    width: 50%;
    text-align: center;
    color: #ccc;
    cursor: pointer;
}

.active {
    color: rgb(76, 214, 120);
    text-decoration: underline;
    cursor: default;
}
